<a href="https://colab.research.google.com/github/Dadapeer67/Corelation-of-Movies-using-python/blob/main/01_SF_Salaries_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called df.**

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
df=pd.read_csv('/drive/My Drive/Datasets/Salaries.csv')

In [ ]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Check the head of the DataFrame.**

In [ ]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
df["BasePay"].mean()

66325.4488404877

In [ ]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
df["OvertimePay"].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
df[df["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
df[df["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [ ]:
#df[df["TotalPayBenefits"]==df["TotalPayBenefits"].max()]["EmployeeName"]
#df["TotalPayBenefits"].idxmax()
df.loc[df["TotalPayBenefits"].idxmax()]["EmployeeName"]

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
df.loc[df["TotalPayBenefits"].idxmin()]["EmployeeName"]

'Joe Lopez'

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
df.groupby('Year').mean()["BasePay"]

<ipython-input-33-c2c89a00460f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [ ]:
df["JobTitle"].nunique()

2159

**What are the top 5 most common jobs?**

In [ ]:
df["JobTitle"].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?**

In [ ]:
sum(df[df["Year"]==2013]["JobTitle"].value_counts()==1)

202

In [ ]:
x=pd.DataFrame(df["JobTitle"].value_counts()==1)

In [ ]:
x

                                                JobTitle
Transit Operator                                   False
Special Nurse                                      False
Registered Nurse                                   False
Public Svc Aide-Public Works                       False
Police Officer 3                                   False
...                                                  ...
CHIEF HOUSING INSPECTOR                             True
TRAFFIC SIGNAL OPERATOR                             True
COURT COMPUTER FACILITIES COORDINATOR               True
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I      True
VICTIM & WITNESS TECHNICIAN                         True

[2159 rows x 1 columns]

In [ ]:
list(x[x["JobTitle"]==True].index)

['BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC',
 'FEASIBILITY ANALYST, PORT',
 'ELECTROENCEPHALOGRAPH TECHNICIAN I',
 'Special Assistant 18',
 'Special Assistant 13',
 'SHELTER OFFICE SUPERVISOR',
 "CHIEF DISTRICT ATTORNEY'S INVESTIGATOR",
 'TREASURER',
 'SENIOR SUPERVISING PROBATION OFFICER, JUVENILE POU',
 'ASSESSOR',
 'Pianist',
 'WHARFINGER I',
 'Sheriff',
 'SENIOR MORGUE ATTENDANT',
 'CRIME LABORATORY MANAGER',
 'METALSMITH',
 'ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN',
 'Legislative Calendar Clerk',
 'TRANSIT POWER LINE WORKER SUPERVISOR II',
 'LAW LIBRARIAN',
 'DISABILITY ACCESS COORDINATOR',
 'SENIOR LIGHT RAIL VEHICLE EQUIPMENT ENGINEER',
 'HEAD PHOTOGRAPHER',
 'WINDOW CLEANER SUPERVISOR',
 'ACUPUNCTURIST',
 'ZOO CURATOR',
 'VETERNIARY LABORATORY TECHNOLOGIST',
 'TELECOMMUNICATIONS TECHNICIAN SUPERVISOR',
 'PRINCIPAL RECREATION SUPERVISOR',
 'CITY PLANNING GRAPHICS SUPERVISOR',
 'COURT ADMINISTRATIVE SECRETARY',
 'SENIOR BOOK REPAIRER',
 'Supervising Mediator, UFCS',
 'BAKER',
 'Pr DistAtty Invstgtor,SpecUnit',
 'LIEUTENANT II (POLICE DEPARTMENT)',
 'LIEUTENANT I, (POLICE DEPARTMENT)',
 'SUPPLY ROOM ATTENDENT',
 'ORTHOPEDIC TECHNICIAN II',
 'Musm Exhibit Packer & Repairer',
 'FARMER',
 'HH Mechanical Shop Sprv',
 'ANIMAL CARE ASSISTANT SUPERVISOR',
 'Administrative Hearing Sup',
 'SHELTER OFFICE ASSISTANT SUPERVISOR',
 'Sr Sprv Prob Ofc, Juv Prob',
 'PORT DIRECTOR',
 'FORENSIC TOXICOLOGIST',
 'MATERIALS AND SUPPLIES SUPERVISOR',
 'Light Rail Vehicle Equip Eng',
 'Undersheriff (SFERS)',
 'CITY ATTORNEY',
 'Lieutenant (Police Department)',
 'Chief Forensic Toxicologist',
 'Chief Investment Officer',
 'Auto Body&Fender Wrk Asst Sprv',
 'LABORATORY HELPER',
 'SENIOR MATERIALS AND SUPPLIES SUPERVISOR',
 'ADMINISTRATOR, SFGH MEDICAL CENTER',
 'CHIEF OF POLICE',
 'SENIOR OFFSET MACHINE OPERATOR',
 'YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS',
 'BRAILLIST',
 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
 'DEPUTY DIRECTOR OF INVESTMENTS',
 'ACPO,JuvP, Juv Prob (SFERS)',
 'SHADE AND DRAPERY WORKER',
 'Marina Associate Manager',
 'Sr Cnselor, Juv Hall (SFERS)',
 'Forensic Toxicologist Supervis',
 'Conversion',
 'Cashier 3',
 'IS Technician Assistant',
 'Drug Court Coordinator',
 'Public Safety Comm Tech',
 'SENIOR OPERATIONS MANAGER',
 'Special Assistant 8',
 'DIRECTOR, INFORMATION TECHNOLOGY GROUP',
 'ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION',
 'Public Service Aide-Technical',
 'COURT PARALEGAL',
 'ATTORNEY FOR THE PUBLIC ADMINISTRATOR',
 'SPECIAL ASSISTANT XVIII',
 'LEGISLATIVE CALENDAR CLERK',
 'Police Services Aide',
 'COURT EXECUTIVE OFFICER',
 'Managing Attorney',
 'Civil Case Settlmnt Specialist',
 'ENVIRONMENT HEALTH TECHNICIAN II',
 'DIRECTOR, EMPLOYEE RELATIONS DIVISION',
 'SENIOR MEDICAL TRANSCRIBER TYPIST',
 'Captain, (Fire Department)',
 'ASSISTANT INSPECTOR (POLICE DEPARTMENT)',
 'CHIEF TELEPHONE OPERATOR',
 'CHIEF PROBATION OFFICER, JUVENILE COURT',
 'HUMAN RESOURCES DIRECTOR',
 'SENIOR PHARMACY HELPER',
 'SHERIFF',
 'PUBLIC DEFENDER',
 'INSTITUTIONAL POLICE LIEUTENANT',
 'DEPUTY SEALER OF WEIGHTS AND MEASURES',
 'CASHIER III',
 'WIRE ROPE CABLE MAINTENANCE SUPERVISOR',
 'CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE',
 'SECRETARY,JUVENILE PROBATION COMMISSION',
 "LEGISLATIVE ASSISTANT, CITY ATTORNEY'S OFFICE",
 'SENIOR PSYCHIATRIC ORDERLY',
 'TRAFFIC HEARING OFFICER',
 'MAYORAL STAFF II',
 'MUNICIPAL STADIUM GROUNDSKEEPER',
 'TRAFFIC SIGN MANAGER',
 'SUPERVISING COURT ADMINISTRATIVE SECRETARY',
 'ASPHALT PLANT SUPERVISOR I',
 'ASSISTANT SUPERINTENDENT RECREATION',
 'AUDIOLOGIST',
 'EXECUTIVE DIRECTOR, SOUTHEAST COMMUNITY FACILITY',
 'CHIEF VICTIM/WITNESS INVESTIGATOR',
 'POWER PLANT SUPERVISOR I',
 'SECRETARY TO THE PRESIDING JUDGE',
 'MARKET RESEARCH SPECIALISTS, PORT',
 'SENIOR MAINTENANCE CONTROLLER',
 'SPECIAL ASSISTANT XV',
 'SENIOR GENERAL UTILITY MECHANIC',
 'EMERGENCY PROTECTIVE ORDERS COMMISSIONER',
 'CHIEF NURSERY SPECIALIST',
 'AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS',
 'POWERHOUSE ELECTRICIAN SUPERVISOR II',
 'SIGNAL AND SYSTEMS ENGINEER',
 'SUPERVISING PARTS STOREKEEPER',
 'TRIAL DELAY REDUCTION COORDINATOR',
 'BUILDING SERVICES TECHNICIAN',
 'CRANE MECHANIC SUPERVISOR',
 'PRINCIPAL INVESTIGATOR, TAX COLLECTOR',
 'SENIOR PLAN CHECKER',
 'MEDIA TRAINING SPECIALIST',
 'SENIOR EMPLOYEE ASSISTANCE COUNSELOR',
 'ASSISTANT LAW LIBRARIAN',
 'Mobile Equipment Supervisor',
 'MEDIA PRODUCTION SUPERVISOR',
 'ELECTRIC MOTOR REPAIR SUPERVISOR I',
 'EMPLOYMENT AND TRAINING SPECIALIST VI',
 'DIRECTOR, PROBATION SERVICES',
 'EXECUTIVE SECRETARY TO THE CONTROLLER',
 'ASSISTANT RECREATION SUPERVISOR',
 'WAREHOUSE WORKER',
 'AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI',
 'SECRETARY, COMMISSION ON THE ENVIRONMENT',
 'SOFT FLOOR COVERER SUPERVISOR',
 'SPECIAL ASSISTANT XIV',
 'PUBLIC SAFETY COMMUNICATIONS TECHNICIAN',
 'MENTAL HEALTH HEARING OFFICER',
 'ORTHOPEDIC TECHNICIAN I',
 'CONSERVATORSHIP/CASE MGNT SUPV',
 'TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY',
 'COURT SUPERVISOR I',
 'MOBILE EQUIPMENT SUPERVISOR',
 'PAINTER SUPERVISOR II',
 'AREA SUPERVISOR, PARKS, SQUARES AND FACILITIES',
 'HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR',
 'Cfdntal Sctry to Distric Atty',
 'TRAINING COORDINATOR',
 'SUPERVISING WELFARE FRAUD INVESTIGATOR',
 'MAYORAL STAFF XI',
 'ORNAMENTAL IRON WORKER SUPERVISOR I',
 'CARPENTER SUPERVISOR II',
 'GLAZIER SUPERVISOR I',
 'BARBER',
 'SECRETARY, LIBRARY COMMISSION',
 'IS TRAINER - SENIOR',
 'ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS       RS',
 'MAYORAL STAFF V',
 'COURT INTERPRETER SUPERVISOR',
 'SENIOR CLAIMS INVESTIGATOR',
 'ASSISTANT DIRECTOR OF CLINICAL SERVICES I',
 'FIELD SERVICES ASSISTANT SUPERVISOR',
 'DIRECTOR, HUMAN RESOURCES',
 'MANAGER, UNIFIED FAMILY COURT SERVICES',
 'SECRETARY, HEALTH COMMISSION',
 'COURT CLERK',
 'LOCKSMITH SUPERVISOR I',
 'Senior Maintenance Controller',
 'SECRETARY, HUMAN SERVICES COMMISSION',
 'Asst Dir Clinical Svcs 2',
 'SENIOR TRANSIT TRAFFIC CHECKER',
 'ASSISTANT COURT REPORTER COORDINATOR',
 'CEMENT FINISHER SUPERVISOR II',
 'ELECTRICAL ENGINEERING ASSOCIATE I',
 'CHIEF PLUMBING INSPECTOR',
 'COURT REPORTER COORDINATOR',
 'RENT BOARD SUPERVISOR',
 'AIRPORT MECHANICAL MAINTENANCE SUPERVISOR',
 'ANIMAL CARE SUPERVISOR',
 'Court Supervisor I',
 'LEGISLATION CLERK',
 'PRINCIPAL MUSEUM PREPARATOR',
 'ASSOCIATE MUSEUM CONSERVATOR, ASIAN ART MUSEUM',
 'STATISTICIAN',
 'IS TECHNICIAN - ASSISTANT',
 "MAYOR'S PROGRAM MANAGER",
 'TRANSIT PAINT SHOP SUPERVISOR I',
 'DIRECTOR, FISCAL SERVICES',
 'SENIOR FOOD SERVICE SUPERVISOR',
 'SPECIAL ASSISTANT XVI',
 'ASSISTANT DIRECTOR OF CLINICAL SERVICES II',
 'HEAD AIRPORT ELECTRICIAN',
 'Head Airport Electrician',
 'CHIEF ELECTRICAL INSPECTOR',
 'Asst Chf Prob Ofc, Juv Prob',
 'COURT ASSISTANT, SUPERIOR COURT',
 'ROOFER SUPERVISOR I',
 'COURT AD RESOLUTION COORDINATOR',
 'TRAINING TECHNICIAN',
 'TREE TOPPER SUPERVISOR II',
 'CONFIDENTIAL SECRETARY TO DISTRICT ATTORNEY',
 'ASSOCIATE HUMAN RESOURCES ANALYST',
 'POWER HOUSE ELECTRICIAN SUPERVISOR I',
 'EXECUTIVE ASSISTANT TO THE GENERAL MANAGER, RETIRE',
 'CHIEF FIRE ALARM DISPATCHER',
 'ASSISTANT DIRECTOR, LOG CABIN RANCH',
 'MEDIA/SECURITY SYSTEMS SUPERVISOR',
 'CHIEF MICROBIOLOGIST',
 'COMMUNICATIONS DIRECTOR',
 'SENIOR DATA ENTRY OPERATOR',
 'PIANIST',
 'LIBRARIAN II - ASIAN ARTS',
 'ASSISTANT INDUSTRIAL HYGIENIST',
 'EMPLOYEE ASSISTANCE COUNSELOR',
 'POWER GENERATION TECHNICIAN I',
 'TRAF SIGNAL ELECTRICIAN SUP I',
 'METAL FABRICATOR',
 'ASSISTANT DIRECTOR, JUVENILE HALL',
 'CONFIDENTIAL SECRETARY CITY ATTORNEY',
 'TRAF SIGNAL ELECTRICIAN SUP II',
 'DIRECTOR, JUVENILE HALL',
 'CHIEF HOUSING INSPECTOR',
 'TRAFFIC SIGNAL OPERATOR',
 'COURT COMPUTER FACILITIES COORDINATOR',
 'AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I',
 'VICTIM & WITNESS TECHNICIAN']

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
def printHello(x):
  print("Hello", x)
  print("This is inside function")
  print("Your input is =", x)

In [ ]:
printHello(6)

Hello 6
This is inside function
Your input is = 6

In [ ]:
printHello("dchc")

Hello dchc
This is inside function
Your input is = dchc

In [ ]:
def check_if_chief_is_present(title):
  print("Title is=", title)
  print("Title in lower case is =", title.lower())
  if "chief" in title.lower():
    return True
  else:
    return False

In [ ]:
check_if_chief_is_present("chiefthyhjg")

Title is= chiefthyhjg
Title in lower case is = chiefthyhjg

True

In [ ]:
check_if_chief_is_present("dwhgfchg")

Title is= dwhgfchg
Title in lower case is = dwhgfchg

False

In [ ]:
check_if_chief_is_present("CHIEF")

Title is= CHIEF
Title in lower case is = chief

True

In [ ]:
def printHello(x):
  print(x)

In [ ]:
y=lambda x:print(x)

In [ ]:
y(6)

6

In [ ]:
z=lambda a,b:print(a+b)

In [ ]:
z(4,6)

10

In [ ]:
q=lambda a,b:a-b
print("Hello")

Hello

In [ ]:
q(8,7)

1

In [ ]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=int(input("Enter 1 for add, 2 for subtract and 3 for multiply"))

Enter first number7
Enter second number7
Enter 1 for add, 2 for subtract and 3 for multiply0

In [ ]:
def printStatements(x,y):
  print("First number:", x)
  print("Second number:", y)
def add(x,y):
  printStatements(x,y)
  print("After addition the result is", x+y)
def sub(x,y):
  printStatements(x,y)
  print("After subtraction the result is", x-y)
def multiply(x,y):
  printStatements(x,y)
  print("After multiplication the result is", x*y)
if c==1:
  add(a,b)
elif c==2:
  sub(a,b)
elif c==3:
  multiply(a,b)
else:
  print("Sorry wrong input")

Sorry wrong input

In [ ]:
z=lambda x,y:x+y

In [ ]:
z(6,7)

13

In [ ]:
a1=lambda x:x*x

In [ ]:
a1(8)

64

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!